.wrapper{

    /* display: flex;
    flex-direction: row; */
    

    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(3, 3fr);
}

.items{
    border: 5px solid orange;
    margin: 2px;
    /* flex:200px; */
}